# The binary itself
{{Name}}

# Binaries for programs and plugins
*.exe
*.dll
*.so
*.dylib

# IDE files
.idea
*.iml
.vscode/

# Temporary files or OS-specific files
*.swp
.DS_Store
._.DS_Store

# Static analysis and test output
**/golangci-lint.html
**/golangci-lint.sarif
**/golangci-lint.xml
**/govulncheck.sarif
**/junit.xml
coverage/
**/*.coverprofile
*.test
*.out
